* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    display: flex;
  }
  
  .l-heading {
    font-size: 4rem;
    line-height: 4.4rem;
    span {
      display: block;
    }
  }
  
  .sub-title {
    margin: 2rem 0 1rem 0;
    font-size: 1.4rem;
    color: #494949;
  }
  
  a {
    text-decoration: none;
  }
  
  .btn {
    display: inline-block;
    padding: 0.7rem 1.2rem;
    color: #fff;
    background: #652d15;
    border: none;
    border-radius: 0.3rem;
  }
  
  // span::after {
  //   content: "";
  //   position: absolute;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   transform-origin: 100px 0;
  //   background: white;
  //   z-index: 1;
  // }
  
  aside {
    width: 40%;
    height: 100%;
    background: url("https://images.unsplash.com/photo-1537047902294-62a40c20a6ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80") no-repeat center center/cover;
    // position: relative;
  
    img {
      position: absolute;
      width: 27vw;
      bottom: 17vh;
      right: 27vw;
    }
  }
  
  main {
    width: 60%;
    padding-left: 4rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
  }
  
  @media screen and (max-width: 414px) {
    body {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    main {
      width: 100%;
      text-align: center;
      padding-left: 0.6rem;
      .l-heading {
        font-size: 2rem;
        line-height: 2.5rem;
      }
      .sub-title {
        font-size: 1rem;
        margin: 1.6rem 0 1.8rem 0;
      }
    }
    aside {
      width: 100%;
      img {
        display: none;
      }
    }
  }
  
  // @media screen and (min-width: 700px) and (max-width: 1024px) {
  //   body {
  //     flex-direction: column;
  //     align-items: center;
  //     justify-content: center;
  //   }
  //   main {
  //     width: 100%;
  //     height: 60%;
  //     text-align: center;
  //     padding-left: 0.6rem;
  //     .l-heading {
  //       font-size: 3.5rem;
  //       line-height: 3.8rem;
  //     }
  //     .sub-title {
  //       font-size: 1.8rem;
  //       margin: 1.6rem 0 1.8rem 0;
  //     }
  //   }
  //   aside {
  //     width: 100%;
  //     height: 40%;
  //     img {
  //       display: none;
  //     }
  //   }
  // }
  